GYL.ServicePlugIn/Web References/WebReference/GatewayService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.ws.boyol/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="GatewayService" targetNamespace="http://service.ws.boyol/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://service.ws.boyol/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="execute" type="tns:execute" />
      <xs:element name="executeResponse" type="tns:executeResponse" />
      <xs:complexType name="execute">
        <xs:sequence>
          <xs:element minOccurs="0" form="qualified" name="reqId" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="reqMethod" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="reqFrom" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="reqDate" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="signType" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="sign" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="content" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="executeResponse">
        <xs:sequence>
          <xs:element minOccurs="0" form="qualified" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="execute">
    <wsdl:part name="parameters" element="tns:execute" />
  </wsdl:message>
  <wsdl:message name="executeResponse">
    <wsdl:part name="parameters" element="tns:executeResponse" />
  </wsdl:message>
  <wsdl:portType name="gateway">
    <wsdl:operation name="execute">
      <wsdl:input name="execute" message="tns:execute" />
      <wsdl:output name="executeResponse" message="tns:executeResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GatewayServiceSoapBinding" type="tns:gateway">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="execute">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="execute">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="executeResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GatewayService">
    <wsdl:port name="GatewayPort" binding="tns:GatewayServiceSoapBinding">
      <soap:address location="http://47.100.33.219:8080/ws/gateway" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>